<div class="my-panel">
  <div class="input">
    <span *ngIf="appState === 'defoult'" class="glyphicon glyphicon-plus" 
          [class.blocked]="!text" (click)="addTodo()"></span>
    <span *ngIf="appState === 'edited'" class="glyphicon glyphicon-plus blocked"></span>
    <input type="text" [(ngModel)]="text"/>
    <span *ngIf="appState === 'defoult'" class="glyphicon glyphicon-refresh" (click)="reset()" title="Полный сброс"></span>
    <span *ngIf="appState === 'edited'" class="glyphicon glyphicon-ok" (click)="submitTodo()"></span>
    <span *ngIf="appState === 'edited'" class="glyphicon glyphicon-remove" (click)="cancelEdit()"></span>
  </div>
  <ul>  
    <li *ngFor="let todo of todos; let i=index" >
      <span class="glyphicon glyphicon-minus" 
            [class.blocked]="appState ==='edited'" 
            (click)="deleteTodo(i)"></span>
      <span class="list-item" 
            [class.edited]="appState === 'edited' || editIndex === i"        
            (click)="editTodo(i)">{{todo.text}}</span>
    </li>
  </ul>
</div>