
.my-panel {
    border: 1px solid #ccc;
    margin: 1em;
    background: #eee;
}
.input {
    padding:1em;
}
.input input {
    border-radius: 5px;
    border: 1px solid deepskyblue;
}   

ul {
    list-style: none;
    text-align: left;
    padding-left: 1em; 
}

li:hover .glyphicon.glyphicon-minus {
    opacity: 0.3;
}
.list-item {
    color: #666;
    cursor: pointer; 
    font-family: sans-serif;
    font-size: 1.2em;
    opacity: 0.9;
}
.list-item:hover {
    border-bottom: 2px solid #bbb;
}
.glyphicon.glyphicon-minus{
    padding-right: 3px;
    cursor: pointer;
    color:red;
    opacity: 0.2;
}
li:hover .glyphicon.glyphicon-minus:hover{
    cursor: pointer;
    opacity: 0.9;
}
li:hover .glyphicon.glyphicon-minus.blocked:hover{
    cursor: auto;
    opacity: 0.3;
}
.glyphicon.glyphicon-plus {
    position: relative;
    top: 3px;
    cursor: pointer;
    color: green;
    padding-right: 3px;
    opacity: 0.7;
}
.glyphicon.glyphicon-plus:hover {
    opacity: 0.9;
}
.glyphicon.glyphicon-plus.blocked {
    opacity: 0.2;
    cursor: auto;
}
.glyphicon.glyphicon-ok{
    cursor: pointer;
    color: green;
    padding: 3px;
    opacity: 0.7;
}
.glyphicon.glyphicon-ok:hover{
    opacity: 0.9;
}
.glyphicon.glyphicon-remove {
    cursor: pointer;
    color: red;
    padding: 3px;
    opacity: 0.7;
}
.glyphicon.glyphicon-remove:hover {
    opacity: 0.9;
}
.glyphicon.glyphicon-refresh {
    position: relative;
    top:3px;
    cursor: pointer;
    color: red;
    padding: 3px;
    opacity: 0.7;
}
.glyphicon.glyphicon-refresh:hover {
    opacity: 0.9;
}